* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #000 url(imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    color: #fff;
    font-size: 25px;

}

header {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-right: 40px;
}

header .menu a:hover {
    transition: all 1s ease;
    border-bottom: 1px solid #fff;
}

.main {
    background: #fff;
    padding: 20px;
    width: 70%;
}

.main article .thumb {
    margin-bottom: 20px;
}

.main article .thumb img {
    vertical-align: top;
    width: 100%;
}

.main article h2 {
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 20px;
}

.main article p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 27px;
}

aside {
    width: 30%;
    background: #537dca;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between;
}

aside .ad {
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
    background: #4264a2;
    margin: 20px 0;
    color: #fff;
}

footer {
    margin: 20px 0;
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

footer .redes-sociales a:hover {
    opacity: .2;
}

@media screen and (max-width: 800px) {
    .main {
        width: 100%;
    }

    aside {
        width: 100%;
        flex-direction: row;
    }
    aside .ad {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255,255,255, .2);
        text-align: center;
        padding: 20px;
    }

    header .menu a {
        margin: 0 20px;
    }

    header .logo {
        margin-bottom: 20px;
    }
    
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .autor {
        order: 2;
    }

    footer .redes-sociales {
        order: 1;
    }
}

@media screen and (max-width: 400px) {
    aside {
        display: none;
    }
}
